/* Grids Ejemplo 1
    Display: grid permite poder usar el sistema de grids nativo de css
    grid-template-columns: repeat(3,1fr); permite asignar la cantidad de columnas que queremos y su tamaño. Lafuncion repeat permite simplificar.
    gap: 1em; permite dar espacio entre filas y columnas pero se puede especificar cual de las dos queremos.
    grid-auto-rows: minmax(100px, auto);permite asignar un tamaño minimo y maximo ya sea a las filas o a las columnas. la funcion minmax lo hace.

*/
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

/* Grids Ejemplo 2 */
.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.container div {
    background: #eceff2;
    padding: 1em;
}

.container div:hover {
    border : 1px solid red;
}


/* Ejemplo 1
Alineacion con flexbox
    align-self: start;
    align-self: center;
    align-self: end;

    permiten alinear de forma vertical en una posicion en este caso arriba, centro o abajo. la alineacion se hace
    en el espacio que ocupe el objeto.
*/
.elemento1{
    align-self: start;
}

.elemento2{
    align-self: center;
}

.elemento3{
    align-self: end;
}

/* 
Alineacion con flexbox
    justify-self: start;
    justify-self: center;
    justify-self: end;

    permiten alinear de forma horizontal en una posicion en este caso arriba, centro o abajo. la alineacion se hace
    en el espacio que ocupe el objeto

*/
.elemento4{
    justify-self: start;
}

.elemento5{
    justify-self: center;
}

.elemento6{
    justify-self: end;
}


/* 
 Ejemplo2:
 Grid layaout
    El grid layaout permite asignarle a un elemento cuantas columnas o filas ocupara segun las lineas de css https://www.w3schools.com/css/css_grid.asp

    grid-column: 1/4; Le da un tamaño que ocupa, en este caso, todas las columnas
    grid-row: 2/5; Le da un tamaño donde solamente ocupa la mitad de las filas que hay
*/

.prueba1{
    grid-column: 1/4;
}

.prueba2{
    grid-row: 2/4;
}

.prueba3{
    grid-column: 2/4;
}

.prueba9 {
    grid-column: 1/4;
}