
.padre{
    /*Es necesario para poder trabajar con flexbox que el padre ya tenga un width y un height definidos, 
    de lo contrio podemos tener problemas al usar ciertas propiedades de flexbox.
    */

    /*Si se va a trabajar con el eje principal, siempre se debe poner un width definido.*/
    width: 80%;

    /*Si se va a trabajar con el eje secundario, siempre se debe poner un height definido.*/
    height: 600px;
    margin: 20px auto;
    background-color: #7216af;

    /* Flex trabaja bajo 2 ejes que son:
        Eje principal - Horizontal (eje x) - (Este es el que viene por defecto)
        Eje secundario - vertical (eje y) |
    */

    display: flex;
}

.hijo{
    width: 100px;

    /*Si un hijo no tiene un height definido, el mismo toma por dejecto el 100% del padre*/
    height: 100px;
    
    margin: 10px;
    background-color: coral;
}