/* Responsividad
---------------------------------
- Opcion 1 (Flex Direction): Esta lo que nos permite es cambiar la direccion de los elementos en el contenedor con basicamente 4 propiedades
    row
    row-reverse
    column
    column-reverse

Jugando con las mismas y haciendo uso de media querys podemos crear un diseño adaptable a cualquier resolucion.

*/

.padre{
    width: 80%;
    height: 600px;
    margin: 20px auto;
    background-color: #7216af;

    display: flex;
}

.hijo{
    width: 26%;
    height: 100px;
    margin: 10px;
    background-color: coral;
}

@media screen and (max-width: 900px){
    .padre{
        flex-direction: column;
    }
}


/*Responsividad
---------------------------------
- Opcion 2 (flex-wrap): Esta opcion nos permite jugar con los porcentajes de los elementos basados en el porcentaje del contenedor, 
quizas es la mas complicada de entender pero en la practica es mas sencillo. Un ejemplo seria que en un contenedor que mide el 100% de la
pantalla tengo 4 elementos que cada uno mide un 25% del contenedor, es decir, que si sumamos los 4 tendriamos un 100%, wrap lo que hace es que
si la suma de los elementos es superior al 100% baja uno o mas ejementos para que queden ocupando el espacio correcto.  */

.padre2{
    width: 80%;
    height: 600px;
    margin: 20px auto;
    background-color: #7216af;
    display: flex;
    flex-wrap: wrap;
}

.hijo2{
    width: 25%;
    height: 100px;
    background-color: coral;
}

@media screen and (max-width: 900px){
    .hijo2{
        width: 50%;
    }
}